# Estudo de Machine Learning

Modelo para previsão dos tipos de vinhos produzidos - Canal Didatica Tech

In [2]:
import pandas as pd
arquivo=pd.read_csv('datasets_16721_22034_wine_dataset.csv')

In [3]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
#mudando o tipo de dado da coluna 'style' de texto para número,de modo que o phyton possa trabalhar com ela em cálculos.
arquivo['style'] = arquivo['style'].replace('red',0)
arquivo['style'] = arquivo['style'].replace('white',1)

In [8]:
arquivo.tail()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,1
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,1
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,1
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,1
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,1

In [10]:
#Separando as variváveis entre preditoras e variável alvo
#alvo será y
#variável x recebe o resto (o arquivo sem a coluna style (axis=1))
y=arquivo['style']
x=arquivo.drop('style',axis=1)

In [18]:
#criando os conjuntos de dados de treino e teste
from sklearn.model_selection import train_test_split
#criamos a entrada train_teste_split e ele separa aleatoriamente 30% das amostras(variáveis x e y)
#pra teste,os outros 70% ele usa pra treino
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y,test_size = 0.3)

In [24]:
x_teste.shape

(1950, 12)

In [29]:
from sklearn.ensemble import ExtraTreesClassifier
#criação do modelo:
modelo=ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#imprimindo resultaos:
resultado = modelo.score(x_teste,y_teste)
print('Acurácia:',resultado)

Acurácia: 0.9964102564102564

In [30]:
y_teste[400:403]

4511    1
2246    1
542     0
Name: style, dtype: int64

In [32]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4511,6.5,0.220,0.32,2.2,0.028,36.0,92.0,0.99076,3.27,0.59,11.9,7
2246,7.4,0.105,0.34,12.2,0.050,57.0,146.0,0.99730,3.16,0.37,9.0,6
542,9.3,0.715,0.24,2.1,0.070,5.0,20.0,0.99660,3.12,0.59,9.9,5

In [35]:
#testando o modelo para prever a partir de dados não treinados
previsoes= modelo.predict(x_teste[400:403])

In [36]:
previsoes

array([1, 1, 0], dtype=int64)